# Application
PORT=3000
NODE_ENV=development

# Redis
REDIS_HOST=redis
REDIS_PORT=6379

# Temporal
TEMPORAL_ADDRESS=temporal:7233
TEMPORAL_NAMESPACE=default
TEMPORAL_TASK_QUEUE=hotel-offer-task-queue

# Supplier Base URLs (used by activities)
SUPPLIER_A_BASE_URL=http://api:3000
SUPPLIER_B_BASE_URL=http://api:3000
